<% planet = @planet %>

<h1><%= planet.name %></h1>
<br><br>
<h3><%= planet.description %></h3>
<br><br>
<div><%= planet.history %></div>
<br><br>
Player credits: <%= planet.game.player.credits %>
<br><br>

<input class="trade-input"></input>
<button class="trade-button"></button>
<% planet.store.items.each do |name, value| %>
  <%= name %>: <%= value %> cr.  <%= link_to "Buy", player_buy_path(planet.game.player, item: "#{name}", price: "#{value}"), remote: true, method: :post %>
  <br>
<% end %>
<br><br>
<%= link_to "Home", game_path(planet.game) %>
<br>
<br>
<%= link_to "Map", game_map_index_path(planet.game) %>


<script>
var space = new Space.Universal;
</script>
