<% planet = @planet %>

<h1><%= planet.name %></h1>
<br><br>
<h3><%= planet.description %></h3>
<br><br>
<div><%= planet.history %></div>
<br><br>
<% planet.store.items.each do |name, value| %>
  <%= name %>: <%= value %> cr.
  <br>
<% end %>
<br><br>
<%= link_to "Home", game_path(planet.game) %>